* {
  margin: 0;
  padding: 0;
}




.site-header {
  background: rgba( 255, 0, 0, 0.15 );
  padding: 20px;
  margin: 1rem;
}
.site-nav{
  background: rgba( 0, 255, 0, 0.15 );
  margin: 1rem;
}

.site-nav ul {
  display: flex;
  padding: 0px;
  
}

.site-nav li {
  border: 3px  dashed darkgrey;
  padding: 15px;
  list-style:  none;
  width: 25%;
}

.site-main {
  background: #ffc;
  padding: 100px;
  
}

.main-section {
  width: 100%;
  padding: 20px;
  justify-content: center;
  margin: 2rem;
}



.hentry {
  border: 2px dashed black;
  padding: 2rem;
  width: 25%;
  height: 50px;
  display: inline-block ;
  margin-top: 1rem;
  margin-bottom: 1rem;  
  }

footer {
 background: rgba( 0, 0, 255, 0.15 );
 padding: 15px;

}

.